<IfModule mod_headers.c>
    Header Set Access-Control-Allow-Origin "*"
    Header Set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header Set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
</IfModule>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>